@import "../../../assets/styles/variables.scss";

.Card {
  box-shadow: 0 0 2px 0px #ccc;
  border-radius: 1rem;
  .CardHeader {
    background-color: white;
    padding: 20px 0;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    .AddButton {
      margin-right: 20px;
      justify-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: linear-gradient(
        0deg,
        rgba(192, 14, 79, 1) 0%,
        rgba(138, 32, 111, 1) 100%
      );
      color: white;
      font-size: 1.5rem;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      border: none;
      outline: none;

      &:active {
        transform: translateY(2px);
        transition: 0.08s;
        box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.4);
      }
    }

    .Title {
      color: $primary;
      margin-left: 20px;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .Content {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    // padding: 20px;
    width: 100%;
  }

  .NavLink {
    text-decoration: none;
  }
}
